In [16]:
data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 22, 'City': 'Chicago'},
    {'Name': 'David', 'Age': 28, 'City': 'Houston'},
    {'Name': 'Eve', 'Age': 35, 'City': 'Phoenix'}
]


df = pd.DataFrame(data)

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   28      Houston
4      Eve   35      Phoenix

In [17]:
def categorize_age(age):
    if age <= 25:
        return 'Youth'
    elif 26 <= age <= 60:
        return 'Adult'
    else:
        return 'Senior'


df['Age Group'] = df['Age'].apply(categorize_age)

print(df)

      Name  Age         City Age Group
0    Alice   25     New York     Youth
1      Bob   30  Los Angeles     Adult
2  Charlie   22      Chicago     Youth
3    David   28      Houston     Adult
4      Eve   35      Phoenix     Adult

In [18]:
a=df[df["City"]=="New York"]

In [19]:
a

    Name  Age      City Age Group
0  Alice   25  New York     Youth

In [20]:
print(f"The orginal DataFrame is:\n{df}\n")
print(f"The filtered DataFrame is:\n{a}")

The orginal DataFrame is:
      Name  Age         City Age Group
0    Alice   25     New York     Youth
1      Bob   30  Los Angeles     Adult
2  Charlie   22      Chicago     Youth
3    David   28      Houston     Adult
4      Eve   35      Phoenix     Adult

The filtered DataFrame is:
    Name  Age      City Age Group
0  Alice   25  New York     Youth